# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# -----------------------
# PyCharm / IDE
# -----------------------
.idea/
*.iml
*.iws
*.ipr

# PyCharm inspection profiles
inspectionProfiles/
profiles_settings.xml

# -----------------------
# Virtual environments
# -----------------------
venv/
env/
.venv/
.env/

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db
